<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Games Dashboard</title>
</head>

<body>

    <h1>Description</h1>
    <pre>
CRIM- per capita crime rate by town

ZN- proportion of presidential land zoned for lots over 25,000 sq.ft.

INDUS-proportion of non-retail business acres per town

CHAS-Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)

NOX-nitric oxides concentration (parts per 10 million)

RM-nitric oxides concentration (parts per 10 million)

AGE-proportion of owner-occupied units built prior to 1940

DIS-weighted distances to five Boston employment centres

TAX-full-value property-tax rate per $10,000

PTRATIO-pupil-teacher ratio by town

B-1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town

LSTAT-% lower status of the population




Accuracy of best model-76.6%

    </pre>

</body>

</html>
